.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.profile {
  max-height: 200px;
  height: 20vh;
  width: 20%;
  border: 5px solid blue;
  margin-bottom: 20px;
}

.img {
  width: 100%;
}

.profileName {
  text-align: center;
}
